---
layout: default
title: Home
sitemap: true
category: home
permalink: /
description: Posts about beauty, hair, makeup and style
---

<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  {% for post in site.posts %}
    {% if post.categories contains 'carousel' %}
      {% if forloop.first == true %}
      <li
        class="active"
        data-target="#carousel"
        data-slide-to="{{forloop.index0}}">
      </li>
      {% else %}
      <li data-target="#carousel" data-slide-to="{{forloop.index0}}"></li>
      {% endif %}
    {% endif %}
  {% endfor %}
  </ol>

  <div class="carousel-inner" role="listbox">
  {% for post in site.posts %}
    {% if post.categories contains 'carousel' %}
    {% if forloop.first == true %}
    <div class="item active">
    {% else %}
    <div class="item">
    {% endif %}
      <img src="{{post.image}}" alt="{{post.title}}">
      <div class="carousel-caption">
        <h1>{{ post.title }}</h1>
        <h2>{{ post.subtitle }}</h2>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>

  <a
    role="button"
    href="#carousel"
    data-slide="prev"
    class="left carousel-control">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>

  <a
    role="button"
    href="#carousel"
    data-slide="next"
    class="right carousel-control">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

{% include list.html %}
