{% if page.title != 'Home' %}
  {% include adsense.html %}
  <h1 class="headline text-center">{{ page.title }}</h1>
  <h3 class="text-center">{{ page.parent }}</h3>
{% endif %}

{% for post in site.posts %}
  {% if post.categories contains page.category %}
  <h2>{{ post.title }}</h2>
  <h4>{{ post.subtitle }}</h4>
  <div class="post-image">
    <div class="row">
      <div class="col-xs-9">
        <b>
          {{ post.categories | join: ', ' }} |
          {{ post.date | date: "%b %-d, %Y" }} |
          {{ post.author }}
        </b>
      </div>
      <div class="col-xs-3 text-right">
        <div class="social">
          <a
            class="facebook"
            target="__blank"
            href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}">
            <i class="fa fa-facebook"></i>
          </a>
          <a
            class="twitter"
            target="__blank"
            href="https://twitter.com/home?status={{ site.url }}{{ post.url }}">
            <i class="fa fa-twitter"></i>
          </a>
          <a
            class="pinterest"
            target="__blank"
            href="https://pinterest.com/pin/create/button/?url={{ site.url }}{{ post.image }}&media={ site.url }}{{ post.image }}&description={{ post.imagedescription }}">
            <i class="fa fa-pinterest-p"></i>
          </a>
          <a
            class="google"
            target="__blank"
            href="https://plus.google.com/share?url={{ site.url }}{{ post.url }}">
            <i class="fa fa-google-plus"></i>
          </a>
          <a
            class="rss"
            href="mailto:contact@beautyinfull.com?subject={{post.title}}&body={{post.url}}">
            <i class="fa fa-envelope-o"></i>
          </a>
        </div>
      </div>
    </div>
    <div>
      <a href="{{ post.url }}">
        <img src="{{ post.image }}" alt="{{ post.imagedescription }}">
      </a>
      <small class="text-center">{{ post.imagedescription }}</small>
      <p>{{ post.description }}</p>
      <div class="text-center">
        <a href="{{ post.url }}" class="read-more">Read more</a>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}

{% include adsense.html %}
