#disqus_thread {
  margin-top: 50px;
}

html {
  font-family: 'Raleway', sans-serif;
}

body {
  font-size: 18px;
}

a,
a:focus,
a:active {
  color: $purple;
  transition: color .5s ease-in-out;
}

a:hover {
  color: $red;
  text-decoration: none;
}

section {
  padding: 40px 0;
}

::selection {
  background: $light-grey;
}
::-moz-selection {
  background: $light-grey;
}

::-webkit-input-placeholder {
  color: $light-purple;
}

:-moz-placeholder {
  color: $light-purple;
}

::-moz-placeholder {
  color: $light-purple;
}

:-ms-input-placeholder {
  color: $light-purple;
}

::-ms-input-placeholder {
  color: $light-purple;
}
