#disqus_thread {
  margin-top: 50px;
}

img {
  width: 100%;
  max-width: 100%;

  height: auto;
}

section {
  padding: 40px 0;
}

::selection {
  background: $light-grey;
}
::-moz-selection {
  background: $light-grey;
}

::-webkit-input-placeholder {
  color: $light-purple;
}

:-moz-placeholder {
  color: $light-purple;
}

::-moz-placeholder {
  color: $light-purple;
}

:-ms-input-placeholder {
  color: $light-purple;
}

::-ms-input-placeholder {
  color: $light-purple;
}
