a.featured {
  padding: 5px;
  color: $black;
  display: block;
  margin: 35px 0;
  font-weight: bold;
  border: 3px solid $light-grey;
  transition: all .3s ease-in-out;
}

a.featured:hover {
  opacity: .5;
}
