input,
textarea {
  width: 100%;
  border: none;
  padding: 10px;
  outline: none;
  margin-bottom: 20px;
  background: $light-grey;
  transition: all .5s ease-in-out;
}

input:hover,
input:focus,
input:active,
textarea:hover,
textarea:focus,
textarea:active {
  background: $white;
}

textarea {
  height: 300px;
}
