input,
textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  background: $white;
  margin-bottom: 20px;
  border: 1px solid $light-grey;
  transition: all .5s ease-in-out;
}

input:hover,
input:focus,
input:active,
textarea:hover,
textarea:focus,
textarea:active {
  border-color: $light-purple;
}

textarea {
  height: 300px;
}
