a.logo {
  margin: 20px 0;
  display: inline-block;

  img {
    width: 100px;
    height: auto;
  }

  span {
    color: $red;
    padding: 30px;
    font-size: 70px;
    font-family: 'Playball', cursive;
  }
}

@media (max-width: 1200px) {
  a.logo {
    width: 100%;
    text-align: center;
  }
}
