.nav {
  border: 1px solid $dark-grey;
}

nav {
  display: flex;
  text-transform: uppercase;

  div {
    flex: 1 1 auto;

    a,
    a:focus,
    a:active {
      color: $black;
      display: block;
      padding: 10px 0;
      font-family: 'Poiret One', cursive;
    }

    a:hover {
      color: $dark-grey;
    }

    i.fa {
      display: block;
      cursor: pointer;
      margin-top: 8px;
      font-size: 22px;
      color: $dark-purple;
    }
  }

  .parent {
    position: relative;

    &:hover {
      .nested {
        max-height: 1000px;
      }
    }
  }

  .nested {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background: $white;
    transition: max-height .5s ease-in-out;

    a {
      border-left: 1px solid $dark-grey;
      border-bottom: 1px solid $dark-grey;
    }
  }
}

#search {
  display: none;
}
