.post-image {
  b {
    color: $dark-grey;
    font-size: 12px;
    font-family: 'Lusitana', serif;
  }

  small {
    color: $grey;
    display: block;
    margin-bottom: 15px;
  }

  a.read-more {
    display: block;
    font-size: 30px;
    margin-bottom: 50px;
    font-family: 'Italianno', cursive;
  }

  img {
    transition: all .3s ease-in-out;
  }

  img:hover {
    opacity: .8
  }

  .social {
    margin-top: 0;

    a {
      font-size: 14px;
    }
  }
}
