.responsive-search-wrap {
  overflow: hidden;
  margin-top: 30px;

  .responsive-search-left {
    float: left;
    width: 50px;
  }

  .responsive-search-right {
    float: left;
    width: calc(100% - 50px);

    #search-responsive {
      position: relative;
      padding: 30px 0 0 30px;

      i {
        top: 38px;
        right: 8px;
        font-size: 20px;
        position: absolute;
      }

      input {
        border: none;
        color: $grey;
        border-radius: 5px;
        padding-right: 35px;
        background: lighten($light-grey, 5%);
      }
    }
  }
}
