.search-container {
  position: relative;
}

#search {
  width: 0;
  left: -1050px;
  overflow: hidden;
  position: absolute;
  margin-left: 1100px;

  input {
    border: none;
  }
}

#search-results {
  h2 {
    margin-top: 0;
  }

  h4 {
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  a {
    color: $black;
    display: block;
    margin-bottom: 70px;
    transition: all .3s ease-in-out;
  }

  a:hover {
    opacity: .8;
    color: $black;
  }
}
