.social {
  display: flex;
  margin-top: 90px;

  a,
  a:focus,
  a:active {
    flex: 1;
    color: $black;
    font-size: 22px;
    transition: color .5s ease-in-out;
  }

  a.rss:hover {
    color: $rss;
  }

  a.google:hover {
    color: $google;
  }

  a.twitter:hover {
    color: $twitter;
  }

  a.youtube:hover {
    color: $youtube;
  }

  a.snapchat:hover {
    color: $snapchat;
  }

  a.facebook:hover {
    color: $facebook;
  }

  a.instagram:hover {
    color: $instagram;
  }

  a.pinterest:hover {
    color: $pinterest;
  }
}

@media (max-width: 1200px) {
  .social {
    margin-top: 0;

    a,
    a:focus,
    a:active {
      text-align: center;
    }
  }
}
