// Main
$red: #C5001F;

// Edges
$black: #000000;
$white: #FFFFFF;

// Gradient
$grey: #C6C6C6;
$dark-grey: #999999;
$light-grey: #E4E4E4;

// Secondary
$purple: #C900CE;
$dark-purple: #BA009C;
$light-purple: #E989FF;

// Social
$rss: #FF6600;
$google: #DD4B39;
$twitter: #00ACED;
$youtube: #BB0000;
$facebook: #3B5998;
$instagram: #FB3958;
$pinterest: #CB2027;
