---
layout: default
---

{% include adsense.html %}

<article itemscope itemtype="http://schema.org/BlogPosting">

  <h1 itemprop="name headline" class="headline text-center">
    {{ page.title }}
  </h1>

  <h3 class="text-center">{{ page.subtitle }}</h3>

  <div class="post-image">
    <div class="row">
      <div class="col-xs-9">
        <b>
          {{ page.categories | join: ', ' }} |
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: "%b %-d, %Y" }}
          </time> |
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span>
          </span>
        </b>
      </div>
      <div class="col-xs-3 text-right">
        <div class="social">
          <a href="#" class="facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" class="twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="pinterest">
            <i class="fa fa-pinterest-p"></i>
          </a>
          <a href="#" class="google">
            <i class="fa fa-google-plus"></i>
          </a>
          <a
            class="rss"
            href="mailto:contact@beautyinfull.com?subject={{page.title}}&body={{page.url}}">
            <i class="fa fa-envelope-o"></i>
          </a>
        </div>
      </div>
    </div>
    <div>
      <img src="{{ page.image }}" alt="{{ page.imagedescription }}">
      <small class="text-center">{{ page.imagedescription }}</small>
    </div>
  </div>

  <div itemprop="articleBody">
    {{ content }}
  </div>

</article>

{% include adsense.html %}

<div id="disqus_thread"></div>

<script>
  var disqus_config = function () {
    this.page.identifier = "{{ page.url }}";
    this.page.url = "http://beautyinfull.com/{{ page.url }}";
  };

  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//beautyinfull.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
